<section class="px-10 max-w-4xl m-auto  dark:text-slate-900">

  <h3 class="text-center dark:text-white text-2xl">Creating a new summary</h3>

  <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex gap-8">
    <label >
      <span class="mr-3 font-bold">Target vacancy:</span>
      <input [value]="targetVacancy" class="px-2 shadow-slate-400 shadow-sm outline-blue-500" type="text">
      <span class="error"></span>
    </label>

    <label class="flex">
      <span class="mr-3 font-bold">City:</span>
      <input [value]="location" class="px-2 shadow-slate-400 shadow-sm outline-blue-500" type="text">
      <span class="error"></span>
    </label>

  </div>

  <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex gap-8">
    <label >
      <span class="mr-3 font-bold">Name:</span>
      <input [value]="name" class="px-2 shadow-slate-400 shadow-sm outline-blue-500" type="text">
      <span class="error"></span>
    </label>

    <label >
      <span class="mr-3 font-bold">Surname:</span>
      <input [value]="surname" class="px-2 shadow-slate-400 shadow-sm outline-blue-500" type="text">
      <span class="error"></span>
    </label>

  </div>

  <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex gap-8">
    <label >
      <span class="mr-3 font-bold">Date of birth:</span>
      <input [value]="birthDate" class="px-2 shadow-slate-400 shadow-sm outline-blue-500" type="date">
      <span class="error"></span>
    </label>

    <label >
      <span class="mr-3 font-bold">Employment:</span>
      <select class="px-2 shadow-slate-400 shadow-sm outline-blue-500" name="" id="">
        <option value="">Full-time</option>
        <option value="">Part-time</option>
        <option value="">Project work</option>
      </select>
      <span class="error"></span>
    </label>

  </div>

  <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex flex-col items-start gap-8">
    <label class="w-full text-left">
      <span class="mr-3 block font-bold">Work experience: (when and what have you being during you life)</span>
      <span class="text-sm block mt-3">use the * symbol in the place where you should end a paragraph and start a new one</span>
      <textarea [value]="workExperience" class="mt-3 shadow-slate-400 shadow-sm w-full outline-blue-500 px-2 h-40" type="text"></textarea>
      <span class="error"></span>
    </label>

  </div>

  <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex items-start gap-8">
    <h4 class="text-lg font-bold mt-5  border-slate-300 pb-3" >Expected salary:</h4>
    <div class="mt-5 flex gap-5">
      <label >
        <span class="mr-3 font-bold">Quantity:</span>
        <input [value]="expectedSalary.value" class="px-2 shadow-slate-400 shadow-sm outline-blue-500" type="text">
        <span class="error"></span>
      </label>

      <label >
        <span class="mr-3 font-bold">Currency:</span>
        <input [value]="expectedSalary.currency" class="px-2 shadow-slate-400 shadow-sm outline-blue-500" type="text">
        <span class="error"></span>
      </label>
    </div>
  </div>

  <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex items-start gap-8">
    <label>
      <span class="mr-3 font-bold">Contact number:</span>
      <input [value]="contactNumber" class="px-2 shadow-slate-400 shadow-sm outline-blue-500" type="text">
      <span class="error"></span>
    </label>
  </div>

  <div class="text-left">
    <button class=" button-green-filled px-20 my-10">add summary</button>
  </div>
</section>