<section>
  <form class="px-10 max-w-4xl m-auto  dark:text-slate-900" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
    <h3 class="text-center dark:text-white text-2xl">Creating a new summary</h3>
  
    <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex gap-8">
      <label class="flex">
        <span class="mr-3 font-bold">Target vacancy:</span>
        <div class="flex flex-col text-left">
          <input 
            class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
            type="text"
            formControlName="targetVacancy" 
            [ngClass]="{'border-2 border-red-500' : isValid('targetVacancy')}"
          >
          <span class="text-red-500 text-sm mt-1" *ngIf="hasError('targetVacancy', 'required')">This field is required</span>
        </div>
      </label>
  
      <label class="flex">
        <span class="mr-3 font-bold">City:</span>
        <div class="flex flex-col text-left">
          <input 
          class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
          type="text"
          formControlName="city" 
          [ngClass]="{'border-2 border-red-500' : isValid('city')}"
          >
          <span class="text-red-500 text-sm mt-1" *ngIf="hasError('city', 'required')">This field is required</span>
        </div>
      </label>
  
    </div>
  
    <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex gap-8">
      <label class="flex">
        <span class="mr-3 font-bold">Name:</span>
        <div class="flex flex-col text-left">
          <input 
            class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
            type="text"
            formControlName="name" 
            [ngClass]="{'border-2 border-red-500' : isValid('name')}"
          >
          <span class="text-red-500 text-sm mt-1" *ngIf="hasError('name', 'required')">This field is required</span>
        </div>
      </label>
  
      <label class="flex">
        <span class="mr-3 font-bold">Surname:</span>
        <div class="flex flex-col text-left">
          <input 
            class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
            type="text"
            formControlName="surname" 
            [ngClass]="{'border-2 border-red-500' : isValid('surname')}"
          >
          <span class="text-red-500 text-sm mt-1" *ngIf="hasError('surname', 'required')">This field is required</span>
        </div>
      </label>
  
    </div>
  
    <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex gap-8">
      <label class="flex">
        <span class="mr-3 font-bold">Date of birth:</span>
        <div class="flex flex-col text-left">
          <input 
            class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
            type="date"
            formControlName="birthDate" 
            [ngClass]="{'border-2 border-red-500' : isValid('birthDate')}"
          >
          <span class="text-red-500 text-sm mt-1" *ngIf="hasError('birthDate', 'required')">This field is required</span>
        </div>
      </label>
  
      <label class="flex">
        <span class="mr-3 font-bold">Employment:</span>
        <div class="flex flex-col text-left">
          <select 
            class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
            formControlName="employment" 
            [ngClass]="{'border-2 border-red-500' : isValid('employment')}"
          >
          <option disabled value="">Chose the employment</option>
            <option value="full-time">Full-time</option>
            <option value="part-time">Part-time</option>
            <option value="project-work">Project work</option>
          </select>
          <span class="text-red-500 text-sm mt-1" *ngIf="hasError('employment', 'required')">This field is required</span>
        </div>
      </label>
  
    </div>
  
    <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex flex-col items-start gap-8">
      <label class="w-full text-left">
        <span class="mr-3 block font-bold">Work experience: (when and what have you being during you life)</span>
        <span class="text-sm block mt-3">use the * symbol in the place where you should end a paragraph and start a new one</span>
        <textarea 
          class="mt-3 shadow-slate-400 shadow-sm w-full outline-blue-500 px-2 h-40" 
          type="text"
          formControlName="workExperience" 
        ></textarea>
      </label>
  
    </div>
  
    <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2  text-left">
      <h4 class="text-lg font-bold mt-5 border-slate-300 pb-3" >Expected salary:</h4>
      <div class="mt-5 flex gap-5">
        <label >
          <span class="mr-3 font-bold">Quantity:</span>
          <input  
            class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
            type="number"
            formControlName="quantity"
          >
        </label>
  
        <label >
          <span class="mr-3 font-bold">Currency:</span>
          <input  
            class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
            type="text"
            formControlName="currency"
          >
        </label>
      </div>
    </div>
  
    <div class="mt-5 p-10 bg-slate-200 rounded-lg border-2 flex items-start gap-8">
      <label class="flex">
        <span class="mr-3 font-bold">Contact number:</span>
        <div class="flex flex-col text-left">
          <input 
            class="px-2 shadow-slate-400 shadow-sm outline-blue-500" 
            type="text"
            formControlName="contactNumber" 
            [ngClass]="{'border-2 border-red-500' : isValid('contactNumber')}"
          >
          <span class="text-red-500 text-sm mt-1" *ngIf="hasError('contactNumber', 'required')">This field is required</span>
        </div>
      </label>
    </div>
  
  
    <div class="text-left">
      <button type="submit" class=" button-green-filled px-20 my-10">save changes</button>
    </div>
  </form>
</section>