<section class="text-left px-5 ">
  <h2 class="text-center text-3xl">About service</h2>
  <div class=" border-b-2 pl-5 py-5">
    <p class="mt-3 text-xl">About functionality: </p>
    <ol class="ml-5 mt-3 text-lg list-decimal ">
      <li>You can download and see all vacancies and summaries</li>
      <li>use filters and search input for more flexible search</li>
      <li>Can register or login for addition functions</li>
      <li>After registration you have your own personal cabinet, where appears new functions</li>
      <li>After registration you can add, edit or remove you own application in vacancy or summary </li>
      <li>And of course there is dark mode and language switcher for 2 languages</li>
      <li>I'm using firebase like backend</li>
      <li>Maybe I will implement something new...</li>
    </ol>
    
  </div>
  <p class="mt-5 italic text-right"> This small service was created for learning purposes by Artem Konusheusky </p>

</section>

