<button
  (click)="openModal()"
  i18n-title="@@register-button-title"
  title="Registration"
  class="button" 
>
  <span class="material-icons">person_add</span>
</button>

<div *ngIf="isOpen">
  <app-modal [closeModal]="closeModal">
    <div class="flex flex-col">
      <h4 class="text-center mb-3 text-lg font-bold text-black">Sign up</h4>

      <label class="flex flex-col">
        <span class="ml-1 dark:text-slate-900">email</span>
        <input [(ngModel)]="email" class=" drop-shadow-sm mb-4" type="text">
      </label>

      <label class="flex flex-col">
        <span class="ml-1 dark:text-slate-900">password</span>
        <input [(ngModel)]="password" class=" drop-shadow-sm mb-4" type="text">
      </label>

      <button class="button dark:hover:border-slate-900 dark:hover:border">submit</button>
    </div>
  </app-modal>
</div>
