<header class="transition duration-150  relative dark:text-white text-dark dark:bg-slate-700 bg-slate-200 pt-5 px-3 drop-shadow-[0_3px_5px_rgba(27,48,64,0.3)]">

  <span class="absolute top-10 text-xl">
    Logo
  </span>

  <div class="flex w-full justify-end gap-4 mb-5">

    
    <app-log-in></app-log-in>
    <app-sign-up></app-sign-up>
    
    <button
      i18n-title="@@logout-button-title"
      title="Logout"
      class="button rounded-lg">
      <span class="material-icons">logout</span>
    </button>
    


    <app-language-switcher></app-language-switcher>

    <app-theme-switcher [isDarkMode] = "isDarkMode" [toggleThemeMode] = "toggleThemeMode"></app-theme-switcher>
  </div>

  <div class="flex justify-center gap-4">
    <input
      i18n-placeholder="@@search-input-placeholder"
      placeholder="type the keyword..." 
      type="text" 
      class="w-72 drop-shadow-md pl-3"
    >
    <button class="button-blue-filled flex items-center px-4 rounded-md py-1 text-md">
      <span class="material-icons mr-2">search</span>
      <span i18n="@@search-btn">search</span>
    </button>
  </div>

  <div class="flex justify-center mt-5">
    <app-navigation></app-navigation>
  </div>


</header>
