
<nav class="flex bg-slate-400 overflow-hidden text-md rounded-t-md">
  <a 
    i18n="@@navigation-to-main" 
    class="nav-link border-r" 
    routerLink="/home" 
    routerLinkActive="active-nav-link">
    Home
  </a>
  <a 
    i18n="@@navigation-to-about" 
    class="nav-link border-r" 
    routerLink="/about" 
    routerLinkActive="active-nav-link">
    About app
  </a>
  <a 
    i18n="@@navigation-to-summaries"
    class="nav-link border-r" 
    routerLink="/summaries" 
    routerLinkActive="active-nav-link">
    Summaries
  </a>
  <a 
    i18n="@@navigation-to-profile" 
    class="nav-link" 
    routerLink="/profile" 
    routerLinkActive="active-nav-link">
    Profile
  </a>
</nav>